<link rel="stylesheet" href="/css/footer.css">
<footer>
    <p>
        ImitateDB v1.0
    </p>
    
    <ul>


        
            <li>
                <a href="/"> Home </a>
            </li> 
            
        

            

    </ul>
  
</footer>