<link rel="stylesheet" href="/css/getStarted.css">
<div class = "GetStartedContainer">

    <div class = "Instruction Card">
        <ul class = "inst_text">
            <li>
                Choose amongst DLPs and MLPs
            </li>
            <li>
                Choose amongst Different Pathogen Categories
            </li>
            <li>
                Choose amongst Different Search Options available to query the database
            </li>
        </ul>
        

        <img class = "inst_img" src="/images/1.jpg" alt="">

    </div>

    <div class = "Instruction Card">
        <ul class = "inst_text">
            <li>
                Choose amongst DLPs and MLPs
            </li>
            
        </ul>
        

        <img class = "inst_img" src="/images/2.jpg" alt="">

    </div>

    <div class = "Instruction Card">
        <ul class = "inst_text">
            <li>
                Choose amongst DLPs and MLPs
            </li>
            <li>
                Choose amongst Different Pathogen Categories
            </li>
            <li>
                Choose amongst Different Search Options available to query the database
            </li>
        </ul>
        

        <img class = "inst_img" src="/images/3.jpg" alt="">

    </div>

    <div class = "Instruction Card">
        <ul class = "inst_text">
            <li>
                Choose amongst DLPs and MLPs
            </li>
            <li>
                Choose amongst Different Pathogen Categories
            </li>
            <li>
                Choose amongst Different Search Options available to query the database
            </li>
        </ul>
        

        <img class = "inst_img" src="/images/4.jpg" alt="">

    </div>

    <div class = "Instruction Card">
        <ul class = "inst_text">
            <li>
                Choose amongst DLPs and MLPs
            </li>
            <li>
                Choose amongst Different Pathogen Categories
            </li>
            <li>
                Choose amongst Different Search Options available to query the database
            </li>
        </ul>
        

        <img class = "inst_img" src="/images/5.jpg" alt="">

    </div>

    


</div>