<link rel="stylesheet" href="/css/getStarted.css">
<div class = "GetStartedContainer">

    <div class = "Instruction Card">
        <ol class = "inst_text">
            <li>
                1. Choose among DMPs & MMPs
            </li>
            <li>
                2. Choose among different pathogen categories
            </li>
            <li>
                3. Choose among the different <span class= "text-imp">search options</span> available to query the database
            </li>
        </ol>
        

        <img class = "inst_img" src="/images/1.jpg" alt="">

    </div>

    <div class = "Instruction Card">
        <ul class = "inst_text">
            <li>
                4. After selecting a search option, the user can either select any option through drop down menu or type the keyword
            </li>
            
        </ul>
        

        <img class = "inst_img" src="/images/2.jpg" alt="">

    </div>

    <div class = "Instruction Card">
        <ul class = "inst_text">
            <li>
                5. After entering the above fields, fill the correct captcha and press "Go" button to get the results
            </li>
            
        </ul>
        

        <img class = "inst_img" src="/images/3.jpg" alt="">

    </div>

    <div class = "Instruction Card">
        <ul class = "inst_text">
            <li>
                6. When the queried results are less than 10,000 records, use download button to download the results
            </li>
            <li>
                7. Table showing results
            </li>
        </ul>
        

        <img class = "inst_img" src="/images/4.jpg" alt="">

    </div>

    <div class = "Instruction Card">
        <ul class = "inst_text">
            <li>
                8. When the queried results are in the range of 10,000-1,00,000 records, click the download button and a mailer pops up on the screen
            </li>
            <li>
                9. Enter your details here and the results will be automatically mailed. <span class = "text-imp">Please check your spam folder</span>
            </li>
        </ul>
        

        <img class = "inst_img" src="/images/5.jpg" alt="">

    </div>

    


</div>