    <link rel="stylesheet" href="/css/home.css">

        
            
    <h3>
        A resource for domain and motif mimicry candidates in interacting host and pathogen proteins.
    </h3>
        
        

    
    <div class = "main">
        <div class = "content">

            <div class = "about">
                <p class = "card">
                    ImitateDB constitutes comprehensive information about molecular mimicry candidates (represented in terms of domain linear pairs and motif linear pairs) for each unique host pathogen protein-protein interaction (HP-PPI). The database contains a total of unique 2,06,449 domain linear pairs (DLPs) and 38,45,643 motif linear pairs (MLPs). Specific domains or motifs mimicked commonly by a large number of pathogens are likely to be responsible for microbial virulence suitable for drug/vaccine targeting.
                </p>

                <!-- <p>
                    ImitateDb is a database containing information about the molecular mimicry candidates (represented in terms of domains and motifs) for each unique
                host pathogen interaction for the entire interactome of infectious diseases.
                </p>

                <p>
                    The information is housed in the form of domain linear pairs and motif linear pairs accounting for domain and motif mimicry encountered among the interacting pathogen and host proteins which can be searched through multiple search options. 
                The linear pair contains information about pathogen protein, pathogen name, its interacting host proteins, the first interactors of the host and the matched domain or motif between the pathogen and the first interactor of the host. 
                This database will help the users to gather information about the mimicry candidates having a role in hijacking the host functions which could be further used to develop therapeutics against infectious diseases.

                </p> -->
                
                
                
    
            </div>
            <div class = "info-wrapper">
                <div class = "schematic card">
                    <%- include('slideshow'); %>
                </div>

                <div class = "adn-info">
                    <div class = "card">
                        <p>
                            Citation:Singh, N., Bhatia, V., Singh, S. et al. MorCVD: A Unified Database for Host-Pathogen Protein-Protein Interactions of Cardiovascular Diseases Related to Microbes. Sci Rep 9, 4039 (2019). https://doi.org/10.1038/s41598-019-40704-5
                           
                            
                        </p>
                    </div>
                    <div class = "card">
                        <p>
                            For any queries or for requesting access to the entire data, please write to ecc999@gmail.com.
                            <br>
                            <span style = "color:crimson">Note: Do check your spam folder for emails from The ImitateDB Team</span>
                            
                            <br>
                            Disclaimer: This site is made available by CSBL, Department of BSE, NSUT for research purposes only. The database has put some limits to broad query search due to downloadable constraints. For access to large data from broad query results and additional enquiry, contact the team members.
                        </p>
                    </div>
                    
                    
                    

                </div>

            </div>
            

            <div class = "getStartedButton">
                <a href="/query" class = "startButton"><button >Get Started</button></a>
            </div>
            

        </div>

        
        
        
        
       
        
    </div>

    
    
    


    