    <link rel="stylesheet" href="/css/home.css">

        
            
    <h3>
        A resource for domain and motif mimicry candidates in interacting host and pathogen proteins.
    </h3>
        
        

    
    <div class = "main">
        <div class = "content">

            <div class = "about card">
                <p>
                    Pathogen proteins mimic those of the host and derail their action. A pathogen protein
                    interacts with many host proteins that in turn interacts with many other host proteins.
                    The pathogen protein and host interactor protein with a common interacting host
                    protein are compared for similar domains indicating global structural similarity and
                    motifs indicating local sequence similarity to determine Domain Mimicry Pairs
                    (DMPs) and Motif Mimicry Pair (MMPs) respectively (depicted in Figure 1). Figure 2a
                    and 2b are representative of individual DMP and MMP respectively, and shows a
                    scenario encompassing a competitive mode of binding of both interaction partners to
                    the same protein. However, allosteric modes of binding are also possible as shown
                    in Figure 3a for DMP and 3b for MMP. As experimentally interacting proteins are
                    likely to be co-expressed and co-localized, interaction data adds confidence to
                    prediction of host pathogen mimicry candidates.
                </p>
            </div>
            <div class = "info-wrapper">
                <div class = "schematic card">
                    <%- include('slideshow'); %>
                </div>

                <div class = "adn-info">
                    <div class = "card">
                        <p>
                            <b>ImitateDB</b> is a comprehensive database for information about molecular mimicry
                            candidates represented as DMPs and MMPs for each experimentally validated
                            unique host pathogen protein-protein interaction. The database contains a total of
                            unique 1,97,607 DMPs and 32,67,568 MMPs searchable by various options. Specific
                            domains or motifs mimicked commonly by a large number of pathogens are likely to
                            be responsible for microbial virulence suitable for drug/vaccine targeting.
                        </p>
                    </div>
                    <div class = "card">
                        <p>
                            Citation:
                            <b>ImitateDB: A Resource for Domain and Motif Mimicry in
                            interacting Host and Pathogen Proteins.</b> Tayal, S, Bhatia, V, Mehrotra, T and
                            Bhatnagar, S. June 2021. <i>Communicated</i>
                        </p> 
                    </div>

                </div>

                

            </div>

            

            <div class = "other-info card">
                <p>
                    For any queries or for requesting access to the entire data, please write to dbimitate@gmail.com.
                </p>
                <p>
                    <span style = "color:crimson">Note: Do check your spam folder for emails from The ImitateDB Team</span>
                </p>
                <p>
                    <b>Disclaimer:</b> <i>This site is made available by CSBL, Department of BSE, NSUT for research purposes only.</i>
                </p> 
            </div>

            <div class = "UserActB">
                <div class = "getStartedButton">
                    <a href="/query" class = "startButton"><button >Instructions</button></a>
                </div>
    
                <div class = "getStartedButton">
                    <a href="/domain_form" class = "startButton"><button >Domain</button></a>
                </div>
                
                <div class = "getStartedButton">
                    <a href="/motif_form" class = "startButton"><button >Motif</button></a>
                </div>
                <div class = "getStartedButton">
                    <a href="/interpretations_page" class = "startButton"><button >Interpretation</button></a>
                </div>
            </div>

            

            
            

        </div>

        
        
        
        
       
        
    </div>

    
    
    


    