    <link rel="stylesheet" href="/css/home.css">
    <div>
        <h1>
            Home Page
        </h1>
    </div>
    <div class = "content">
        <a href="/query" class = "startButton"><button >Get Started</button></a>
    </div>
    
    <!-- <%- include('_queryForm') %>
    <button class="openbtn"  onclick="openNav()">&#9776; </button>
    <script type = "text/javascript" src = "/js/sidePanel.js"></script> -->


    