    <link rel="stylesheet" href="/css/home.css">

        
            
    <h3>
        A resource for domain and motif mimicry candidates in interacting host and pathogen proteins.
    </h3>
        
        

    
    <div class = "main">
        <div class = "content">

            <div class = "about">
                <p>
                    Host-pathogen interactions involves a wide range of signalling networks between the host and pathogen. 
                In this process, the molecules or proteins of pathogens mimic host proteins (known as molecular mimicry) and their respective interactions and disturb the signalling pathways to inhibit the cell functions. 
                Molecular mimicry conceptualizes a popular strategy that is being widely used by infectious agents to hijack the host functions by mimicking the proteins of the host.
                </p>

                <p>
                    ImitateDb is a database containing information about the molecular mimicry candidates (represented in terms of domains and motifs) for each unique
                host pathogen interaction for the entire interactome of infectious diseases.
                </p>

                <p>
                    The information is housed in the form of domain linear pairs and motif linear pairs accounting for domain and motif mimicry encountered among the interacting pathogen and host proteins which can be searched through multiple search options. 
                The linear pair contains information about pathogen protein, pathogen name, its interacting host proteins, the first interactors of the host and the matched domain or motif between the pathogen and the first interactor of the host. 
                This database will help the users to gather information about the mimicry candidates having a role in hijacking the host functions which could be further used to develop therapeutics against infectious diseases.

                </p>
                
                <div class = "getStartedButton">
                    <a href="/query" class = "startButton"><button >Get Started</button></a>
                </div>
                
    
            </div>
    
            <div class = "schematic">
                <img src="/images/image300.jpg" alt="">
                <div class  = "label">
                    <span>figure 1</span>
                </div>
            </div>

        </div>
        

       
        
    </div>
    
    <!-- <%- include('_queryForm') %>
    <button class="openbtn"  onclick="openNav()">&#9776; </button>
    <script type = "text/javascript" src = "/js/sidePanel.js"></script> -->


    