<link rel="stylesheet" href="/css/getStarted.css">
<div class = "GetStartedContainer">

    <div class = "Instruction Card">

        <img class = "intp_img" src="/images/interpretation of results.jpg" alt="">

    </div>

    <div class = "Interpretation Card">
        

            <p>
                Interpretation:
            </p>   
            <p>
                The 7 records as shown in the table above correspond to 7 DMPs (Domain Mimicry Pairs)
                where a pathogen protein (Column A) and a host interactor protein (Column F) that interact
                with a common target host protein (Column D) share a similar domain (Column H) having a
                unique PSSM ID (Column G). DMPs are indicative of domain mediated molecular mimicry
                between pathogen and host proteins.
            </p>
            <p>
                In certain queries, the PSSM IDs may be repeated in the results. In those cases, either the
                interacting proteins or interaction methods will be different. Thus, the information is being
                output as a unique row of the results table.
            </p>
            <p>
                The 7 records correspond to 7 unique DMPs for the pathogen protein “Q5NEB0”.
            </p>
            <p>
                The explanation for each column for the 7 DMPs as observed in the results table is as
                follows:
            </p>
           <p>
                Column A: Pathogen Protein ID: One pathogen protein that can have multiple conserved
                domains, interacting with one host protein.
           </p>

           <p>
                Column B: Pathogen Name: One source organism i.e., Francisella tularensis subsp.
                tularensis (strain SCHU S4)
           </p>
            <p>
                Column C: Interaction Detection Method: Only one method has been reported for this
                search, namely two hybrid pooling approach. This column is important as different
                interaction detection methods have different reliability while multiple detection methods
                showing the same PPI may be more reliable.
            </p>
            
            <p>
                Column D: Host Protein ID: For this search, there is only one host protein that directly
                interacts with the pathogen protein and provides a binding site to the mimicking host
                Interactor protein (Column F) and pathogen protein (Column A).
            
            </p>
            <p>
                Column E: PubMed ID: This column corresponds to the PubMed ID of the publication where
                the PPI between the pathogen protein (column A) and host protein (column D) is reported.
            </p>
            <p>
                Column F: Host Interactor Protein ID: These are the first interactors of the host proteins
                mentioned in Column D. For this search, there is only one first host interactor protein, that
                may contain multiple domains.
            </p>
            <p>
                Column G: Matched Domain PSSM ID: The unique PSSM IDs for this search are 7 in number.
                As per the NCBI website, a position-specific scoring matrix (PSSM) is calculated from a
                multiple sequence alignment and has a unique PSSM ID. The PSSM and its ID for a domain
                may change due to changes in its multiple sequence alignment as new sequence data
                becomes available.
            </p>
            <p>
                Column H: Domain Short Name: This is the name of the domain (corresponding to the
                unique PSSM ID) being matched between the pathogen and host interactor proteins. 7 such
                unique domains have been identified. This record may correspond to a conserved domain, a
                COG, a domain superfamily, or Pfam ID.
            </p>
            
            <ul>
                <li>
                    Entries in Column A, D and F have been hyperlinked to their corresponding UniProt
                    Page.
                </li>
                <li>
                    Entries in Column E have been hyperlinked to their corresponding Publication.
            
                </li>
                <li>
                    Entries in Column G have been hyperlinked to their corresponding domain from
                    NCBI CDD.
        
                </li>
            </ul>

            
           
                    

    </div>

    
    


</div>