footer {
    bottom:0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 5 rem;
    width: 100%;
    box-sizing: border-box;
    background-color: #474646;
    color: white;
    font-family: sans-serif;
  }

  footer p {
    margin: 15px;
  }
  
  footer ul {
    padding: 10px;
    list-style-type: none;
  }
  
  footer ul a {
    text-decoration: none;
    color: #c7c0c0;
  }
  