header {
    background-color: #123c69;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40px;
    height: 10vh;
    width: 100%;
    box-sizing: border-box;
  }
  
  header h1 {
    padding: 10px;
    color: rgb(246, 246, 250);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  header a {
    text-decoration: none;
  }
  
  header ul {
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
  }
  
  header ul li {
    padding: 5px;
  }
  
  header ul li a {
    text-decoration: none;
    color: white;
  }
  