body{
    background-color:#f5f7fa;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#page-container{
    position: relative;
    /* height:150vh; */
    width:100%;
    /* min-height:1200px; */
    min-width: 300px;
}



.card{
    background-color: white;
    padding: 2%;
    margin:2%
    border-radius: 1%;
    /* font-size: 1vw; */
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
