
.container{
    /* display:flex; */
    min-height: 80vh;
    padding-bottom: 2.5rem;
}

#info span{
    color: #0C526E;
}

#SideFilter{
    max-height: 90vh;
    overflow-y:auto;
}

.side{
    /* position: fixed; */
    /* min-width: 200px; */
}
#ResultTable{
    border-style:solid 1px;
    width:100%;
    font-size: 17px;
    table-layout: fixed;
    text-align: center;
    color: #0C526E;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#ResultTable td{
    word-wrap:break-word;
    padding: 5px;
    border: solid #0C526E;
    
}

#ResultTable td a{
    color: #0C526E;
}



#ResultTable tr:nth-child(even){
    background-color: #D3E3FC;

}
#ResultTable tr:nth-child(odd){
    background-color: #123c69c4;
    color: #b1a9a5;

}

#ResultTable tr:nth-child(odd) a{
    color: #b1a9a5;
}

#ResultTable th{
   
    word-wrap:break-word;
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #FB9902;
    color: rgb(109, 104, 104);
    border: solid #0C526E;
    
}

/* for information section */



.card-type2{
    font-size: 75%;
    padding: 0.5%;
    background-color: rgb(245 246 247 / 69%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#info{
    width: 80vw;
    margin:25px 2px;
    font-size: 80%;
    padding:1%
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    position: fixed;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(62, 62, 63, 0.548);
    color: white;
    padding: 10px 15px;
    border: none;
    right:0;
    transition: 0.5s;
}
  
.openbtn:hover {
    background-color: #444;
    position: fixed;
}

#dataInfo{
      display: flex;
      justify-content: space-between;
      box-sizing: border-box;
}

#DownloadQueryData{

    box-sizing: border-box;
    width: 100px;
    height: 50px;
    margin: 15px;
}

#DownloadQueryData a{
    text-decoration: none;
    color: green;
   
}


#getCSV{
    box-sizing: border-box;
    margin-top: 35px;
    margin-left: 35px;
    font-size: 30px;
}
