.sidepanel {
    height: 100vh; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-image: linear-gradient( #051423f7  , #123c69d1);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }

  .sidepanelQueryForm {
    height: 100vh; /* Specify a height */
    /* width:100px; 0 width - change this with JavaScript */
    /* position: fixed; Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    right: 0;
    background-image: linear-gradient( #05294df7  , #153e69d1);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
  }
  
  /* The sidepanel links */
  .sidepanel fieldset{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #2b2b2c;
    display: block;
    border: none;
    transition: 0.3s;
  }

  .sidepanelQueryForm fieldset{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #2b2b2c;
    display: block;
    border: none;
    transition: 0.3s;
  }
  #pathogenSelection,#domainMotifSelection{
      color:#acabaf
  } 
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel input:hover {
    color: #807b7b;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 10px;
    right: 25px;
    color:#d8d0d0;
    text-decoration: none;
    font-size: 25px;
    margin-left: 50px;
  }

/* Styling Captcha */
  #fetchData{
    height:25px;
    width:50px;
    font-size: 16px;
    color: rgb(255, 255, 255);
    background-color: #47678b;
  }

  #captcha div{
    width:270px;
  }

  #captcha input{
    width:188px;
  }
  #captcha button{
    height:21px;
  }

  
  
  